#title, #countdown {
    text-align: center;
    color: #FFFFFF;
    font-family: 'Michroma', sans-serif;
}

#title {
    text-transform: uppercase;
    margin: 0px;
    white-space: nowrap;
    font-size: 2em;
    color: #d93313;
}

#countdown {
    display: flex;
}

#countdown .box {
    flex: 1;
    width: 25%;
}

#countdown .box .seconds,
#countdown .box .minutes,
#countdown .box .hours,
#countdown .box .days,
#countdown .box .seconds-label,
#countdown .box .minutes-label, 
#countdown .box .hours-label, 
#countdown .box .days-label {
    display: block;
    text-transform: uppercase;
    font-size: 0.75em
} 

#countdown .box .seconds,
#countdown .box .minutes,
#countdown .box .hours,
#countdown .box .days {
    font-size: 2em;
}