@import url('https://fonts.googleapis.com/css?family=Michroma|Aldrich');

footer {
    font-family: 'Aldrich', sans-serif;
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #FFF;
    text-align: center;
    padding: 5px;
}

footer a:link, footer a:visited, footer a:hover, footer a:active {
    text-decoration: none;
    color: #a53232
}