<div id="page" data-aos="zoom-in" data-aos-delay="800">
    <h1 id="title">UOMO!</h1>
    <countdown [config]="{leftTime: timeLeft}">
        <div id="countdown">
            <div class="box">
                <span class="days">
                    $!d!
                </span>
                <span class="days-label">
                    days
                </span>
            </div>
            <div class="box">
                <span class="hours">
                    $!h!
                </span>
                <span class="hours-label">
                    hours
                </span>
            </div>
            <div class="box">
                <span class="minutes">
                    $!m!
                </span>
                <span class="minutes-label">
                    minutes
                </span>
            </div>
            <div class="box">
                <span class="seconds">
                    $!s!
                </span>
                <span class="seconds-label">
                    seconds
                </span>
            </div>
        </div>
    </countdown>
</div>